<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InterceptorFilter</display-name>
    <servlet-name>InterceptorFilter</servlet-name>
    <servlet-class>com.ram.test.inteceptor.InterceptorFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterceptorFilter</servlet-name>
    <url-pattern>/InterceptorFilter</url-pattern>
  </servlet-mapping>
  <display-name>Interceptor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>BrowserFilter</display-name>
    <filter-name>BrowserFilter</filter-name>
    <filter-class>com.ram.test.interceptor.BrowserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BrowserFilter</filter-name>
    <url-pattern>/BrowserFilter</url-pattern>
  </filter-mapping>
</web-app>